################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MCS.WebApi
/MCS/.vs
/MCS/MCS.WebApi/Properties
